@use "../global/config" as *;
@use "../global/fa" as *;

main {
  padding: 25px;
  text-align: center;
  display: grid;
  place-items: center;
  min-height: 100vh;

  picture {
    position: relative;
    &::before {
      content: "";
      background-color: rgba($color: $clr-primary200, $alpha: 0.5);
      position: absolute;
      inset: 0;
    }
  }

  .container {
    background-color: $clr-primary300;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    max-width: 1100px;
  }

  article {
    padding: 42px 30px;

    h1 {
      margin-bottom: 15px;
    }

    > :nth-child(2) {
      @include flex(column);
      margin-top: 30px;
      gap: 40px;
      text-transform: uppercase;
    }
  }
}

@media (min-width: 600px) {
  main {
    text-align: initial;
    .container {
      display: flex;
      justify-content: space-between;

      picture {
        order: 2;
        flex: 1;
        flex: 0 1.2 33rem;

        img {
          height: 100%;
          object-fit: cover;
        }
      }

      article {
        flex: 0 1 35rem;
        @include flex(column);
        justify-content: space-between;
        padding: clamp(1.1875rem, -1.4464rem + 7.0238vw, 4.875rem);
        gap: 1rem;

        > :nth-child(2) {
          text-align: center;
          flex-direction: row;
          gap: 0.4rem;
          margin: 0;
          justify-content: space-between;
          font-size: 12px;

          h2 {
            font-size: clamp(1rem, 0.8214rem + 0.4762vw, 1.25rem);
          }
        }
      }

      h1 {
        font-size: clamp(1.25rem, 0.5357rem + 1.9048vw, 2.25rem);
      }

      p {
        font-size: 14px;
      }
    }
  }
}
